.homePage {
    display: grid;
    grid-template-columns: 20vw;
  }
  .filter {
    grid-column: 1;
    font-size: 2vw;
    margin-left: 2vw;
  }
  input[type="checkbox"] {
    transform: scale(1.5);
  }
  
  .container {
    grid-column: 2;
  }
  